/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@300&family=Nunito:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Botón para mostrar redes sociales */
#btn-mas {
  display: none;
}

.cont {
  position: fixed;
  bottom: 2vh;
  right: 10vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Redes sociales y botón */
.redes a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #23c02d;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.redes a:hover {
  background: #fff;
  color: #129f05;
}

.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.btn-mas label {
  cursor: pointer;
  background: #129f05;
  font-size: 23px;
}

#btn-mas:checked ~ .btn-mas label {
  transform: rotate(135deg);
  font-size: 25px;
}

/* Estilos generales */
body {
  background: white;
}

/* Barra de navegación */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2c8d20;
  height: 80px;
  color: #fff;
  z-index: 1000;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__container img {
  width: 60px;
  margin-left: -1rem !important;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.nav__container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav__logo {
  margin-left: 5px;
  font-size: 2em;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-style: "black";
  transition: color 0.3s;
}

.nav__logo:hover {
  color: #9dff00;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.nav__items {
  color: #fff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__items::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__input:checked + .nav__menu {
  background: #2c8d20;
}

.nav__label,
.nav__input {
  display: none;
}

/* Estilos para la sección de héroe */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.hero-item {
  flex: 1;
  text-align: center;
}

.hero-item h1 {
  font-size: 50px;
}

.hero-item img {
  width: 100%;
  max-height: 500px;
  
}

.hero-item p {
  font-size: 20px;
}

/* Resto de estilos */
.nosotros {
  padding: 30px;
  text-align: center;
}

.nosotros p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.tit_hist {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.tit_hist:hover {
  color: #0ec21d;
}

.pie-pagina {
  background-color: #f7f7f7;
  padding: 40px 0;
  color: #333;
  font-size: 14px;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.columna {
  padding: 0 15px;
}

.columna h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.columna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columna ul li {
  margin-bottom: 5px;
}

.columna ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.columna ul li a:hover {
  color: #2c8d20;
}

.columna img {
  max-width: 70px;
}

.derechos {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cafdb7;
  font-size: 12px;
  color: #666;
}

@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    z-index: 2;
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #2c8d20;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path
  }
} 