@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");

:root {
  --green: rgb(50, 138, 12);
  --black: #074705;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  background: #eee;
}

.cont {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#boton-mas {
  display:hidden;
}
.redes a,
.boton-mas label {
  display: block;
  text-decoration: none;
  background: #23c02d;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
  font-size: 20px;
}
.redes a:hover {
  background: #fff;
  color: #129f05;
}
.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#boton-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.boton-mas label {
  cursor: pointer;
  background: #129f05;
  font-size: 23px;
}
#boton-mas:checked ~ .boton-mas label {
  transform: rotate(135deg);
  font-size: 25px;
}
section {
  padding: 2rem;
}
#btn-mas {
  display: none;
}
.btn {
  display: inline-block;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  font-weight: 400;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  color: var(--black);
  background: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--green);
  color: white;
}

.header {
  border: 0px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}
.header .logo:hover {
  color: rgb(97, 238, 15);
}
.header .logo i {
  color: var(--green);
}
.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--green);
}

.header .navbar a:hover {
  color: rgb(97, 238, 15);
}

.header .icons div {
  border: 0px solid;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.header .icons div:hover {
  background: var(--green);
  color: white;
}
#menu-btn {
  display: none;
}

.header .navbar.active {
  right: 2rem;
  transform: 0.4s linear;
}

.header .search-form {
  border: 0px solid;
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

<<<<<<< Updated upstream
.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
=======
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7); 
>>>>>>> Stashed changes
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--green);
}
.header .login-form {
  border: 0px solid;
  position: absolute;
  width: 35rem;
  top: 110%;
  right: -110%;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .login-form h3 {
  font-size: 2.5rem;
  text-transform: none;
  color: var(--black);
}

.header .login-form .box {
  width: 100%;
  border: 0px solid;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}
.header .login-form p a {
  color: var(--green);
  text-decoration: underline;
}

.inicio {
  border: 0px solid;
  display: flex;
  justify-content: center;
  background: url("../media/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.inicio .content {
  border: 2px solid;
  text-align: center;
  padding: 2rem;
  width: auto;
  color: rgb(222, 210, 196);
  background-color: rgba(255, 255, 255, 0.7);
}

.inicio .content h3 {
  color: var(--green);
  font-size: 3rem;
}

.inicio .content p {
  color: var(--black);
  font-size: 1.8rem;
  padding: 1rem 0;
  line-height: 1.8rem;
}

.servicios .box-conteiner {
  border: 0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.servicios .box-conteiner .box {
  border: 1px solid #eee;
  padding: 2rem 2rem;
  background: #fff;
  outline: #eee;
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: 0.2s;
}

.servicios .box-conteiner .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}
.servicios .box-conteiner .box img {
  margin: auto;
  width: 100%;
  object-fit: cover;
  max-width: 16rem;
}
.servicios .box-conteiner .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
  margin: 1.5rem;
}

.servicios .box-conteiner .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding-bottom: 1rem 0;
  text-align: center;
  margin: 1.5rem;
}
.servicio-encabezado {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}
.servicio-encabezado:hover {
  color: var(--green);
}

.nosotros {
  padding: 30px;
  text-align: center;
}

.nosotros p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  padding: auto;
}
.tit_hist {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: color 0.3s;
}
/* Estilos para el hover */
.tit_hist:hover {
  color: #0ec21d;
}

.pie-pagina {
  background-color: #f7f7f7;
  padding: 40px 0;
  color: #333;
  font-size: 14px;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.columna {
  padding: 0 15px;
}

.columna h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.columna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columna ul li {
  margin-bottom: 5px;
}

.columna ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.columna ul li a:hover {
  color: #2c8d20;
}
.columna img {
  max-width: 70px;
}
.derechos {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cafdb7;
  font-size: 12px;
  color: #666;
}

/*Media Queries*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }

<<<<<<< Updated upstream
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 70%;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .inicio {
    display: cover;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .servicios .box-conteiner .box {
    padding: 1rem;
  }
=======
.nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
}

.carousel-item {
    text-align: center; 
} 

.c-img {
    max-width: 100%; 
    height: auto; 
}

.carousel-caption {
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}
.pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
>>>>>>> Stashed changes
}
}